* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
.body {
	font-family: Times New Roman;
	background-color: black;
	color: white;
	margin: 0;
}
.nav {
    float: right;
    font: bold 18px;
   /* border: 1px solid #121314;
    border-top: 1px solid #2b2e30;
    border-radius: 0px;*/
    overflow: hidden;
    width:66%;
    margin-top: 40px;
    /*margin-bottom: 0;
    padding-bottom: 0;*/
}
.nav ul {
	/*float: left;*/
    margin:0;
    padding:0;
    list-style:none;
    overflow: hidden;
}
.nav ul li a{
    float: left;
    padding: 13px 46px;
    color: orangered;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    /*text-shadow:1px 1px orange;*/
    /*background:#3C4042;*/
}
.nav ul li a:active, .nav ul li a:hover {
	color: darkgreen;
	text-decoration: none;
}
header {
	background-color: rgba(255, 235, 59, 0.80);
}
header img {
	width: 13.9%;
	height: 120px;
}
/*.wrap {
	background-color: black;
	height: 2000px;
	margin-top: 0;
	padding-top: 0;

}*/
.wraphead {
	height: 400px;
	background-image: url(img/parking3.jpeg);
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#main {
	font-size: 70px;
	font-weight: bold;
	color: darkorange;
	position: relative;
	left: 50%;
	background-color: rgba(255, 255, 0, 0.75);
	width: 50%;
}
.back {
	background-color: rgba(255, 235, 59, 0.80);
}
strong {
	font-size: 1.25em;
}
.about img {
	float: right;
	width: 400px;
	height: 300px;
	/*padding: 10px;*/
	border: 1px solid grey;
}
.about p, .about h2 {
	padding: 10px;
}
.contact ul li img {
	width: 50px;
	padding-right: 20px;
}
.contact ul {
	list-style: none;
}
.contact a, .solution a {
	color: orangered;
}
.contact a:active, .solution a:hover, .contact a:hover, .solution a:active {
	color: yellow;
}
.reviews ul li img {
	width: 300px;
	height: 350px;
}
.reviews ul {
	list-style: none;
	/*float: right;*/
}
.reviews ul li {
	float: left;
	width: 32%;
	text-align: left;
	/*padding-right: 100px;*/
}
.reviews ul li p {
	width: 300px;
	/*padding-left: 70px;*/
}
.stats img {
	float: right;
}
.stats {
	height: 400px;
}
.reviews {
	height: 450px;
}
.stats p, .solution p {
	padding: 10px;
}